<mat-card>
  <mat-card-title>Dati cliente</mat-card-title>
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Cognome</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Telefono</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Indirizzo</mat-label>
    <input matInput>
  </mat-form-field>
</mat-card>
<mat-card>
  <mat-card-title>Dati veterinario</mat-card-title>
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Cognome</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Telefono</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Indirizzo</mat-label>
    <input matInput>
  </mat-form-field>
</mat-card>
<mat-card>
    <button mat-button>Salva</button>
    <button mat-button>Annulla</button>
</mat-card>