<mat-tab-group>
  <mat-tab label="Cliente"> <app-view-customer></app-view-customer> </mat-tab>
  <mat-tab label="Animali"> <app-view-animals></app-view-animals> </mat-tab>
  <mat-tab label="Prenotazioni"> <app-view-reservations></app-view-reservations> </mat-tab>
</mat-tab-group>