<mat-card>
  <button mat-button [matMenuTriggerFor]="new_animal">
    <i style="font-size: 48px" class="material-icons">add</i>
  </button>
  <mat-menu #new_animal="matMenu">
    <button mat-menu-item>Cane</button>
    <button mat-menu-item>Gatto</button>
  </mat-menu>
  <button mat-button>Salva</button>
  <button mat-button>Annulla</button>
</mat-card>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Tipo animale
      </mat-panel-title>
      <mat-panel-description>
        Nome animale
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput>
      </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput>
      </mat-form-field>

  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion>