<app-menu-top></app-menu-top>
<mat-drawer-container>
    <mat-drawer #appDrawer mode="side">
        <app-side-nav-left></app-side-nav-left>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>