<div class="side-nav-content">
    <mat-list role="list">
        <mat-list-item role="listitem">
            <button mat-button routerLink="/overview">Overview</button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <button mat-button routerLink="/customer">Customer</button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <button mat-button>Item 3</button>
        </mat-list-item>
    </mat-list>
</div>